<!DOCTYPE html>
<html>
<head>
    <title>Booking Confirmation</title>
    
</head>
<body>
    <div class="container" style="margin:20px; text-align:center;  padding: 20px;border-radius: 8px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h1 style="color:blue;font-size: 26px;">Booking Confirmation on IRCTC, Train: 15074, 17-Jul-2024, SL, BCN - BDL</h1>
        <p><span style="font-weight: 500; color:red;font-size: 16px;">Flight Number:</span> <%= booking.flightNumber %></p>
        <p><span style="font-weight: 500; color:red;font-size: 16px;">Passenger Name:</span> <%= booking.passengerName %></p>
        <p><span style="font-weight: 500; color:red;font-size: 16px;">Departure Date:</span> <%= booking.departureDate %></p>
        <p><span style="font-weight: 500; color:red;font-size: 16px;">Seat Number:</span> <%= booking.seatNumber %></p>
    </div>
</body>
</html>
